/* /Components/CardDisplay.razor.rz.scp.css */
h2[b-22lohkplqb] {
    font-size: 3.0vh;
}

p[b-22lohkplqb] {
    font-size: 1.5vh;
    justify-content:center;
    padding-bottom: 5%;
}

.card:hover[b-22lohkplqb]{
    transform:scale(105%);
}
/* /Components/LoadingSpinner.razor.rz.scp.css */
.lds-dual-ring[b-kuu1o2n37b] {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring[b-kuu1o2n37b]:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #2C132C;
    border-color: #2C132C transparent #2C132C transparent;
    animation: lds-dual-ring-b-kuu1o2n37b 1.2s linear infinite;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes lds-dual-ring-b-kuu1o2n37b {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* /Components/PopUpNotification.razor.rz.scp.css */
@keyframes fadein-b-qrpn0g3ms6 {
    from {
        opacity: 0;
        transform: translateX(-10deg);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeout-b-qrpn0g3ms6 {
    from {
        opacity: 1;
        transform: translateX(-10deg);
    }

    to {
        opacity: 0;
        transform: translateX(0);
    }
}

dialog[b-qrpn0g3ms6] {
    color: #2C132C;
    background-color: rgba(237,69,65,0.5);
    border: hidden;
    border-radius: 10px;
}

dialog[open][b-qrpn0g3ms6] {
    animation: 1s fadein-b-qrpn0g3ms6 forwards;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

dialog[open] button[b-qrpn0g3ms6] {
    display: none;
}

dialog[open]:hover button[b-qrpn0g3ms6] {
    display:inline;
}

button[b-qrpn0g3ms6] {
    height: 24px;
    width:30px;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    color: #F61A13;
    border: hidden;
}

button:hover[b-qrpn0g3ms6] {
    background-color: rgba(255,255,255,0.1);
}
/* /Pages/Index.razor.rz.scp.css */
body[b-7wh4we6qg3] {
    display: inline-grid;
    row-gap: 5vh;
}

h1[b-7wh4we6qg3] {
    /*font-family: ThrowUp;*/
    /*font-family: Bracheri;*/
    font-family: Hypik;
    /*font-family: Hybrid;*/
    font-size: calc(10vh);
    font-weight: bold;
}

.banner[b-7wh4we6qg3] {
    position: absolute;
    top: calc(4em + 1px);
    left: 0;
    width: 100%;
}

.banner_text[b-7wh4we6qg3] {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(20px);
    height: 20vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

table[b-7wh4we6qg3] {
    width: 100%;
    justify-content: space-around;
    padding: 1vw;
    margin: 1vw;
}

.container[b-7wh4we6qg3] {
    
    width: 100%;
}

td[b-7wh4we6qg3] {
    padding: 0 15px;
}

.button[b-7wh4we6qg3] {
    color: #111111;
    display: inline-block;
    min-width: 180px;
    /*overflow: hidden;*/
    padding: 15px 30px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out all;
}

.button span[b-7wh4we6qg3] {
    position: relative;
    z-index: 2;
    color: white;
}

.button[b-7wh4we6qg3]:before {
    background: linear-gradient(transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    content: '';
    height: 200%;
    position: absolute;
    right: calc(100% + 20px);
    top: -50%;
    transform: rotate(-70deg);
    transition: .6s ease-in-out right;
    width: 80px;
    z-index: 0;
    filter: blur(1.5rem);
}

.button:hover[b-7wh4we6qg3]:before {
    right: -100%;
}

/* Extra visual styling for buttons on hover - optional */
.button:hover[b-7wh4we6qg3], button:focus[b-7wh4we6qg3] {
    box-shadow: 0 8px 12px rgba(0,0,0,0.1), inset 0 10px 30px rgba(255,255,255,0.3), inset 0 2px 2px rgba(255,255,255,0.2);
    color: white;
}

.content[b-7wh4we6qg3] {
    padding: 1vw;
    position: absolute;
    top: calc(45vh + 4em + 1px);
    left: 4.5rem;
    width: calc(100% - 4.5rem);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1vw;
}

.content .pageFooter[b-7wh4we6qg3] {
    /*Spans All Columns*/
    grid-column: 1/-1;   
}
/* /Pages/Login.razor.rz.scp.css */
body[b-q9byuoqrvc] {
}


@keyframes downAndUpMovement-b-q9byuoqrvc {

    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, 20%);
    }

    100% {
        transform: translate(-50%, -210%);
    }
}

@keyframes fadein-b-q9byuoqrvc {
    from {
        opacity: 0;
        transform: translateX(-10deg);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h1[b-q9byuoqrvc] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    animation: 2s 2s 1 downAndUpMovement-b-q9byuoqrvc forwards;
    font-size: calc(2rem + 1.5vw);
}

.header[b-q9byuoqrvc] {
    grid-column: span 2;
    text-align: center;
    color: white;
}

.authentication[b-q9byuoqrvc] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 32px;
    border-radius: 32px;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    width: calc()
}

input[b-q9byuoqrvc]{
    border-radius: 15px;
    padding-left: 15px;
}

.grid[b-q9byuoqrvc] {
    opacity: 0;
    animation: 1s 3.5s 1 fadein-b-q9byuoqrvc forwards;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.grid-col-span-2[b-q9byuoqrvc] {
    grid-column: span 2;
}

label[b-q9byuoqrvc]{
    font-size: 2.0rem;
}

button[b-q9byuoqrvc] {
    background-color: #811335;
    border: hidden;
    padding: 12px;
    border-radius: 32px;
    color: white;
}

    button:hover[b-q9byuoqrvc] {
        background-color: #6A112D;
    }

dialog[b-q9byuoqrvc] {
    color: #F61A13;
    background-color: rgba(249,103,98,0.5);
    border: hidden;
    border-radius: 10px;
}

    dialog[open][b-q9byuoqrvc] {
        animation: 1s fadein-b-q9byuoqrvc forwards;
    }

a[b-q9byuoqrvc] {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
    border-radius:20px;
    background-color: rgba(33,33,33,.6);
    margin-bottom: 5px; 
}
/* /Shared/Footer.razor.rz.scp.css */
.footer[b-em4bdrxqzn] {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #1F1F1F;
    height: 30vh;
    font-size: 1rem;
}

.footer_content[b-em4bdrxqzn] {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.logo[b-em4bdrxqzn] {
    border-right: 1px solid white;
    height: 28vh;
}

.footer_content h1[b-em4bdrxqzn] {
    font-family: Hypik;    
    text-align: end;
    padding-top: 15vh;
    padding-right: 2vw;
    transform: translate(0,-50%);
}

.links[b-em4bdrxqzn] {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1vw;
    padding-top: 1vw;
}

ul[b-em4bdrxqzn] {
    text-align: left;
    list-style-type: none;
}

a[b-em4bdrxqzn]{
    color: white;
    text-decoration: none;
}

h3[b-em4bdrxqzn] {
    font-family: Hypik;
}

.other[b-em4bdrxqzn]{
    display:grid;
    grid-template-rows: repeat(2,1fr);
}
/* /Shared/HomeLayout.razor.rz.scp.css */
.page[b-u5iirfpac3] {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

main[b-u5iirfpac3] {
    flex: 1;
}

.sidebar[b-u5iirfpac3] {
    background: #C43949;
    z-index: 3;
    border-radius: 0px 0px 10px 0px;
}


.top-row a[b-u5iirfpac3] {
    color: aliceblue;
}

.top-row a:link[b-u5iirfpac3] {
    text-decoration: none;
}

.top-row a:visited[b-u5iirfpac3] {
    text-decoration: none;
}

.top-row a:hover[b-u5iirfpac3] {
    text-decoration: none;
}

.top-row a:active[b-u5iirfpac3] {
    text-decoration: none;
}

.top-row[b-u5iirfpac3]  a, .top-row .btn-link[b-u5iirfpac3] {
    white-space: nowrap;
}

.top-row a:first-child[b-u5iirfpac3] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-u5iirfpac3] {
        display: none;
    }

    .top-row.auth[b-u5iirfpac3] {
        justify-content: space-between;
    }

    .top-row a[b-u5iirfpac3], .top-row .btn-link[b-u5iirfpac3] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-u5iirfpac3] {
        flex-direction: row;
    }

    .sidebar[b-u5iirfpac3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-u5iirfpac3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-u5iirfpac3], article[b-u5iirfpac3] {
        /*padding-left: 2rem !important;
        padding-right: 1.5rem !important;*/
    }
}
/* /Shared/LoginLogoutButton.razor.rz.scp.css */
.login[b-qrzaxh3nmz] {
    background-color: #fff;
    color: black;
}

.logout[b-qrzaxh3nmz] {
    background-color: #ED4541;
    color: white;
}
/* /Shared/MainLayout.razor.rz.scp.css */
@keyframes slideInFromLeft-b-6ny8l2y7ev {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.page[b-6ny8l2y7ev] {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(https://static.vecteezy.com/system/resources/previews/001/013/013/original/purple-and-red-low-poly-background-vector.jpg);
    background-position: top; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
}

main[b-6ny8l2y7ev] {
    flex: 1;
}

.sidebar[b-6ny8l2y7ev] {
    background: #C43949;
    z-index: 3;
    border-radius: 0px 0px 10px 0px;
}

.top-row[b-6ny8l2y7ev] {
    background-color: black;
    justify-content: flex-end;
    height: calc(4em + 1px);
    display: flex;
    align-items: center;
    vertical-align: middle;
    z-index: 1;
    border-bottom: solid 1px white;
}

    .top-row a[b-6ny8l2y7ev] {
        color: aliceblue;
    }

        .top-row a:link[b-6ny8l2y7ev] {
            text-decoration: none;
        }


        .top-row a:visited[b-6ny8l2y7ev] {
            text-decoration: none;
        }


        .top-row a:hover[b-6ny8l2y7ev] {
            text-decoration: none;
        }


        .top-row a:active[b-6ny8l2y7ev] {
            text-decoration: none;
        }


    .top-row[b-6ny8l2y7ev]  a, .top-row .btn-link[b-6ny8l2y7ev] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6ny8l2y7ev] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6ny8l2y7ev] {
        display: none;
    }

    .top-row.auth[b-6ny8l2y7ev] {
        justify-content: space-between;
    }

    .top-row a[b-6ny8l2y7ev], .top-row .btn-link[b-6ny8l2y7ev] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6ny8l2y7ev] {
        flex-direction: row;
    }

    .sidebar[b-6ny8l2y7ev] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6ny8l2y7ev] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-6ny8l2y7ev], article[b-6ny8l2y7ev] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ucap7bugdc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ucap7bugdc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0);
}

.navbar-brand[b-ucap7bugdc] {
    padding: 0 30%;
    align-self: center;
}

.oi[b-ucap7bugdc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ucap7bugdc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ucap7bugdc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ucap7bugdc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ucap7bugdc]  a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-ucap7bugdc]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-ucap7bugdc]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-ucap7bugdc] {
        display: none;
    }

    .collapse[b-ucap7bugdc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/Sidebar.razor.rz.scp.css */
.bi[b-kd8mtd9qe5] {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
    color: white
}

.dropdown-toggle[b-kd8mtd9qe5] {
    outline: 0;
}

.nav-flush .nav-link[b-kd8mtd9qe5]::before {
    border-radius: 0;
}

.btn-toggle[b-kd8mtd9qe5] {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
    margin-top: .5em;
}

    .btn-toggle:hover[b-kd8mtd9qe5],
    .btn-toggle:focus[b-kd8mtd9qe5]{
        color: rgba(0, 0, 0, .85);
        background-color: white;
    }


    .btn-toggle:hover .bi[b-kd8mtd9qe5],
    .btn-toggle:focus .bi[b-kd8mtd9qe5] {
        color: black;
    }

    .btn-toggle[b-kd8mtd9qe5]::before {
        width: 1.25em;
        line-height: 0;
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    .btn-toggle[aria-expanded="true"][b-kd8mtd9qe5] {
        color: rgba(0, 0, 0, .85);
    }

        .btn-toggle[aria-expanded="true"][b-kd8mtd9qe5]::before {
            transform: rotate(90deg);
        }

.btn-toggle-nav a[b-kd8mtd9qe5] {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

    .btn-toggle-nav a:hover[b-kd8mtd9qe5],
    .btn-toggle-nav a:focus[b-kd8mtd9qe5] {
        background-color: #d2f4ea;
    }

.scrollarea[b-kd8mtd9qe5] {
    /*overflow-y: auto;*/
}

.fw-semibold[b-kd8mtd9qe5] {
    font-weight: 600;
}

.lh-tight[b-kd8mtd9qe5] {
    line-height: 1.25;
}
/* /Shared/Topbar.razor.rz.scp.css */
.top-row[b-b956wovtgm] {
    position: fixed;
    top: 0;
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: calc(4em + 1px);
    width: 100%;
    align-items: center;
    vertical-align: middle;
    z-index: 1;
    border-bottom: solid 1px white;
}

.bi[b-b956wovtgm] {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
    color: white
}

.top-row .buttons[b-b956wovtgm] {
    margin-right: 1em;
}
