@page "/counter"
@attribute [Authorize(Roles = "Administrator,User")]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        <span>Authorized @context.User.Identity.Name</span>
    </Authorized>
    <NotAuthorized>
        <span>Not Authorized</span>
    </NotAuthorized>
</AuthorizeView>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
