.login[b-qrzaxh3nmz] {
    border-radius: 10px;
    background-color: #9B3763;
    color: white;
}

.logout[b-qrzaxh3nmz] {
    border-radius: 10px;
    background-color: #ED4541;
    color: white;
}
