@page "/clients";

@using Microsoft.AspNetCore.Components.Rendering

@layout MainLayout

<div class="glass-effect sup-navbar">
    <span @onclick="handleCarteiraOnClick">Carteira</span>
    <span @onclick="handleAnaliseOnClick">Análise</span>
    <span @onclick="handleClassesEtáriasOnClick">Classes Etárias</span>
    <span @onclick="handleContaCorrenteOnClick">Conta Corrente</span>
    <span @onclick="handleIndicadoresOnClick">Indicadores</span>
    <span @onclick="handleApolicesPorDataOnClick">Apólices por data</span>
</div>

<div class="pageContent">
    @markup
</div>
    


@code {
    MarkupString markup;

    private void handleCarteiraOnClick()
    {
        markup = new MarkupString("<h1> Carteira Seguradora</h1> ");
    }

    private void handleAnaliseOnClick()
    {
        markup = new MarkupString("<h1>Análise Global Clientes</h1>");
    }

    private void handleClassesEtáriasOnClick()
    {
        markup = new MarkupString("<h1>Classes Etárias Clientes</h1>");
    }

    private void handleContaCorrenteOnClick()
    {
        markup = new MarkupString("<h1>Conta Corrente Clientes</h1>");
    }

    private void handleIndicadoresOnClick()
    {
        markup = new MarkupString("<h1>Clientes Indicadores</h1>");
    }

    private void handleApolicesPorDataOnClick()
    {
        markup = new MarkupString("<h1>Apólices Por Data</h1>");
    }

}
