@page "/dashboards"
@attribute [Authorize]
@using BlazorApp1.Components

<div class="grid">

    <!--DashboardComponent title="Indice de Preços da Habitação" src="https://www.gee.gov.pt/images/1_Flache_2021/m_dezembro_2021/97.png"></!--DashboardComponent-->

</div>

@code {

}
