@page "/";
@layout LoginLayout

@using BlazorApp1.Components
@using BlazorApp1.Shared
@using Microsoft.Extensions.Configuration
@using BlazorApp1.Pages;
@inject IConfiguration Configuration
@inject IJSRuntime JS

<div>

    <h1>Hello</h1>
    <div class="authentication">
            <h3 class="header"> Hello </h3>
            <h2>Username</h2>
        <input type="text" title="Username" @bind="@username" @bind:event="oninput"i/>

            <h2>Password</h2>
        <input type="password" id="password" title="Password" @bind="@password" @bind:event="oninput" @onkeydown="@Enter"/>
        <button class="grid-col-span-2" @onclick="handleLogin">Login</button>

    </div>

    <PopUpNotification open="@open" alertType="error" message="Login Failed"></PopUpNotification>    

</div>


@code {

    [Inject]
    public NavigationManager navigationManager { get; set; }

    private string username { get; set; }

    private string password { get; set; }

    private bool open = false;


    private void handleLogin(){
        if ( username == "admin" && password == "admin")
        {
            Configuration["loggeduser.username"] = username;
            Configuration["loggeduser.name"] = username;
            navigationManager.NavigateTo("/home");
        }
        else{
            open = !open;
        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            handleLogin();
        }
    }

}
