@page "/user"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<div class="bio">
    <img src="https://avatars.mds.yandex.net/i?id=e67c20f98bdc512c5d3bc20c140f8fac-5719595-images-taas-consumers&n=27&h=480&w=480">
    <div>
        <h2>@Configuration["loggedUser.name"]</h2>
    </div>
</div>


@code {

}
