@page "/"
@layout HomeLayout;

<PageTitle>Index</PageTitle>

<div class="banner" style="z-index: -1;">
    <img class="m-0 p-0" src="images/442c32ae5ff009591b3fd0b91515a3b7.gif" style="width: 100%; height: 45vh;" />
    <div class="banner_text"><h1>Bootstrap</h1></div>
</div>
<div class="content">
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
    <p style="text-align:center; color:black;"> A </p>
</div>


@code{

}
}