@page "/"
@layout HomeLayout;

<PageTitle>Index</PageTitle>


<div class="banner">
    <img class="m-0 p-0" src="images/442c32ae5ff009591b3fd0b91515a3b7.gif" style="width: calc(100vw - 4.5rem); height: 45vh; z-index:0;" />
    <div class="banner_text"><h1>Banner</h1></div>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Modak');

    h1 {
        font-family: 'Modak';
        font-size: calc(100vh/10);

    }

</style>

@code{

}
}