@page "/"
@layout HomeLayout;

@using BlazorWebAssembly.Client.Components;

<PageTitle>Index</PageTitle>

<div class="banner" style="z-index: -1;" >
    <img class="m-0 p-0" src="images/442c32ae5ff009591b3fd0b91515a3b7.gif" style="width: 100%; height: 45vh;" />
    <div class="banner_text"><h1>Bootstrap</h1></div>
</div>

<div class="content">

    <!--Possibility of usage of *ngFor(Angular) to dynamically create CardDisplays having an product source-->
    <CardDisplay imgUrl="images/17572880_36647724_2048.jpg"
                 title="PARIS SPRAYED HOODIE" price="380"
                 description='LONG SLEEVES HOODED SWEATSHIRT IN BLACK. BLACK SPRAYED PRINT AT FRONT. LOGO AND "PARIS" PRINTED IN WHITE AT FRONT. BLACK STRINGS. KANGAROO POCKET.'
                 productId="PMRA001C99FAB0021001">
    </CardDisplay>

    <CardDisplay imgUrl="images/Small-600583TIV531070_F.jpg"
                 title="HOODIE MEDIUM FIT IN BLACK" price="895"
                 description='POLITICAL CAMPAIGN HOODIE MEDIUM FIT IN BLACK AND WHITE CURLY FLEECE.'
                 productId="PMRA001C99FAB0021002">
    </CardDisplay>

    <CardDisplay imgUrl="images/17572990_36645977_800.jpeg"
                 title="GOTHIC LOGO SOCKS" price="60"
                 description='HIGH SOCKS IN BLACK. VERTICAL "PALM ANGELS" LOGO KNITTED IN WHITE AT SIDE LEGS.'
                 productId="PMRA001C99FAB0021003">
    </CardDisplay>

    <CardDisplay imgUrl="images/Small-570803TAV441000_F.jpg"
                 title="T-SHIRT REGULAR FIT IN BLACK" price="675"
                 description='POLITICAL CAMPAIGN T-SHIRT REGULAR FIT IN BLACK JERSEY.'
                 productId="PMRA001C99FAB0021004">
    </CardDisplay>

    <CardDisplay imgUrl="images/17572991_36646857_800.jpeg"
                 title="GOTHIC LOGO SOCKS" price="60"
                 description='HIGH SOCKS IN BLACK. VERTICAL "PALM ANGELS" LOGO KNITTED IN WHITE AT SIDE LEGS.'
                 productId="PMRA001C99FAB0021005">
    </CardDisplay>

    <div class="pageFooter">
        <Footer></Footer>
    </div>

</div>

@code{
    
}
