@layout PageNotFoundLayout

<div class="cover">
    <div class="text">
        <h1 class="grid-col-span-2">Looks like you got lost.</h1>
        <p class="grid-col-span-2">Don't worry. We'll take care of you.</p> 
        <a class="back_button bi bi-arrow-left-short" role="button" title="Back" data-bs-toggle="tooltip"
           alt="Back" href="javascript:history.back()" style="text-align:center; border-radius: 30px; text-decoration: none; border: 1px solid red; 
            font-size: 2rem;padding-inline:30px;"></a>
        <a class="home_button bi bi-house" role="button" title="Home" data-bs-toggle="tooltip"
           alt="Home" href="" style="text-align:center; border-radius: 30px; text-decoration: none; border: 1px solid dodgerblue; font-size: 2rem; 
            padding-inline:30px;"></a>
        </div>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Righteous');

    body {
        color: white;
        font-family:Righteous;
        background: url(https://i.pinimg.com/originals/1b/e2/69/1be269c5c5c608a1f41af5cebe5af718.gif) repeat fixed;
    }
</style>

@code {

}
