
<div class="pane">
    <h3>@title</h3>
    <iframe src="@src"></iframe>

</div>





@code {
    [Parameter]
    public string? title { get; set; }

    [Parameter]
    public string? src { get; set; }

}
