body[b-lk699o6f4s] {
}

h1[b-lk699o6f4s]{
    padding: 20px;
    font-size: 3.5rem;
    text-align: center;
}

.grid[b-lk699o6f4s]{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
}

.grid button[b-lk699o6f4s] {
    border-radius: 20px;
    margin: 20px 10px;
    border: hidden;
    color: #9B3763;
    background-color:white;
    justify-self: end;
    padding: 10px 30px;
}

.grid input:focus input:active[b-lk699o6f4s]{
    background-color: rgba(255,255,255,0);
}

.grid button:first-of-type[b-lk699o6f4s]{
    background-color: #C43949;
    color: white;

}

.grid input[b-lk699o6f4s]{
    border-radius: 5px;
    margin: 10px;
    border: hidden;
    border-bottom: solid white;
    background-color: rgba(255,255,255,0);
    color: white;
    text-align: center;
}

.grid p[b-lk699o6f4s]{
    margin: 10px;
    width: 100%;
}