@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Righteous');

    body {
        margin: 0;
        font-family: 'Righteous';
        color: #4d4d4d;
    }
</style>