@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="top-row px-4">
                        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name !</a>
                        <form method="post" action="Identity/Account/LogOut">
                            <button type="submit" class="nav-link btn btn-link">Log Out</button>    
                        </form>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </Authorized>
                <NotAuthorized>
                    <div class="top-row px-4">
                        <a href="/Identity/Account/Register">Register</a>
                        <a href="/Identity/Account/Login">Log In</a>
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </main>
</div>

<style>
@@import url('https://fonts.googleapis.com/css2?family=Righteous');
    body {
        margin: 0;
        font-family: 'Righteous';
        color: #4d4d4d;
    }
        
</style>

@code{

    public void handleLogout(){
        Configuration["loggeduser.name"] = "";
        Configuration["loggeduser.username"] = "";
    }
}