/* _content/BlazorApp1/Components/Caroussel.razor.rz.scp.css */
*[b-tjzzbx65y4] {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container[b-tjzzbx65y4] {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides[b-tjzzbx65y4] {
    display: none;
}

/* Next & previous buttons */
.prev[b-tjzzbx65y4], .next[b-tjzzbx65y4] {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next[b-tjzzbx65y4] {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover[b-tjzzbx65y4], .next:hover[b-tjzzbx65y4] {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text[b-tjzzbx65y4] {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext[b-tjzzbx65y4] {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot[b-tjzzbx65y4] {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active[b-tjzzbx65y4], .dot:hover[b-tjzzbx65y4] {
        background-color: #717171;
    }

/* Fading animation */
.fade[b-tjzzbx65y4] {
    animation-name: fade-b-tjzzbx65y4;
    animation-duration: 1.5s;
}

@keyframes fade-b-tjzzbx65y4 {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* _content/BlazorApp1/Components/PopUpNotification.razor.rz.scp.css */
.card[b-3jjm08ii2n] {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 40vw;
    padding: 2vh;
}

h2[b-3jjm08ii2n]{
    text-align: start;
}

table[b-3jjm08ii2n]{
    text-align: center;
}
/* _content/BlazorApp1/Pages/FetchData.razor.rz.scp.css */
table[b-g1hvm280bn] {
    text-align: center;
    background-color: #E4EBF1;
}

tr:nth-child(even)[b-g1hvm280bn] {
    background-color: #f2f2f2;
}

tr:hover td[b-g1hvm280bn] {
    background-color: #cecece;
}
/* _content/BlazorApp1/Pages/Index.razor.rz.scp.css */
@keyframes slideInFromLeft-b-70cdui5b69 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes fadein-b-70cdui5b69 {
    from{
        opacity:0;
        transform: translateX(-10deg);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body[b-70cdui5b69] {
    display: inline-grid;
    row-gap: 5vh;
}

h1[b-70cdui5b69] {
    animation: 1s ease-out 0s 1 slideInFromLeft-b-70cdui5b69;
    opacity: 1;
    font-size: 15vh;
    padding: 2vw;
}


.glass-effect[b-70cdui5b69] {
    opacity:0;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
    width: 60vh;
    height: 50vh;
    padding: 1vw;
    text-align: justify;
    animation: 1s forwards 1s 1 fadein-b-70cdui5b69;
}

.glass-button[b-70cdui5b69] {
    position: absolute;
    right: 5%;
    bottom: 5%;
    opacity: 0;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
    padding: 1vw;
    text-align: justify;
    animation: 1s forwards 1s 1 fadein-b-70cdui5b69;
}


table[b-70cdui5b69] {
    width: 100%;
    justify-content: space-around;
    padding: 1vw;
    margin: 1vw;
}

.container[b-70cdui5b69] {
    
    width: 100%;
}

td[b-70cdui5b69] {
    padding: 0 15px;
}
/* _content/BlazorApp1/Pages/Login.razor.rz.scp.css */
@keyframes downAndUpMovement-b-yhn00id1ct {

    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, 20%);
    }

    100% {
        transform: translate(-50%, -200%);
    }
}

@keyframes fadein-b-yhn00id1ct {
    from {
        opacity: 0;
        transform: translateX(-10deg);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

div[b-yhn00id1ct] {
    background-color: white;
}

h1[b-yhn00id1ct] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10vh;
    z-index: 1;
    animation: 2s 2s 1 downAndUpMovement-b-yhn00id1ct forwards;
}

h2[b-yhn00id1ct],input[b-yhn00id1ct],button[b-yhn00id1ct] {
    opacity: 0;
    animation: 1s 3.5s 1 fadein-b-yhn00id1ct forwards;
}

.authentication[b-yhn00id1ct] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
}

.grid-col-span-2[b-yhn00id1ct] {
    grid-column: span 2;
}

.blank[b-yhn00id1ct]{
    display: grid;
    grid-template-columns: 1fr;
}
/* _content/BlazorApp1/Shared/MainLayout.razor.rz.scp.css */
@keyframes slideInFromLeft-b-45rkf8v3vv {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.page[b-45rkf8v3vv] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(https://wallpaper.dog/large/20492307.jpg);
    background-position: center;
    background-size: cover;
    color: #161925;
}

main[b-45rkf8v3vv] {
    flex: 1;
}

.sidebar[b-45rkf8v3vv] {
    background-image: linear-gradient(180deg, #406E8E 0%, #CBF7ED 100%);
    z-index:1;
}

.top-row[b-45rkf8v3vv] {
    background-color: #406E8E;
    border-bottom: 1px solid #161925;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    vertical-align:middle;
}

.top-row a[b-45rkf8v3vv]{
    color: aliceblue;
}

.top-row a:link[b-45rkf8v3vv] {
    text-decoration: none;
}


.top-row a:visited[b-45rkf8v3vv] {
    text-decoration: none;
}


.top-row a:hover[b-45rkf8v3vv] {
    text-decoration: none;
}


.top-row a:active[b-45rkf8v3vv] {
    text-decoration: none;
}


    .top-row[b-45rkf8v3vv]  a, .top-row .btn-link[b-45rkf8v3vv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-45rkf8v3vv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-45rkf8v3vv] {
        display: none;
    }

    .top-row.auth[b-45rkf8v3vv] {
        justify-content: space-between;
    }

    .top-row a[b-45rkf8v3vv], .top-row .btn-link[b-45rkf8v3vv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-45rkf8v3vv] {
        flex-direction: row;
    }

    .sidebar[b-45rkf8v3vv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-45rkf8v3vv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-45rkf8v3vv], article[b-45rkf8v3vv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp1/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b5wscdn8ts] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b5wscdn8ts] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b5wscdn8ts] {
    font-size: 1.1rem;
}

.oi[b-b5wscdn8ts] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b5wscdn8ts] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b5wscdn8ts] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b5wscdn8ts] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b5wscdn8ts]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b5wscdn8ts]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b5wscdn8ts]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b5wscdn8ts] {
        display: none;
    }

    .collapse[b-b5wscdn8ts] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
