@keyframes slideInFromLeft-b-45rkf8v3vv {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.page[b-45rkf8v3vv] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(https://t3.ftcdn.net/jpg/01/27/47/12/360_F_127471210_VkRs7xWsmyWFOvGnni70WVHOVTmxhPh2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

main[b-45rkf8v3vv] {
    flex: 1;
}

.sidebar[b-45rkf8v3vv] {
    background: hsla(17, 95%, 50%, 1);
    background: linear-gradient(0deg, hsla(17, 95%, 50%, 1) 0%, hsla(31, 95%, 58%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(17, 95%, 50%, 1) 0%, hsla(31, 95%, 58%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(17, 95%, 50%, 1) 0%, hsla(31, 95%, 58%, 1) 100%);
    z-index: 1;
    border-radius: 0px 0px 10px 0px;
    filter: drop-shadow(2px 2px 8px black)
}

.top-row[b-45rkf8v3vv] {
    background-color: hsla(31, 95%, 58%, 1);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    z-index: 0;
}

.top-row a[b-45rkf8v3vv]{
    color: aliceblue;
}

.top-row a:link[b-45rkf8v3vv] {
    text-decoration: none;
}


.top-row a:visited[b-45rkf8v3vv] {
    text-decoration: none;
}


.top-row a:hover[b-45rkf8v3vv] {
    text-decoration: none;
}


.top-row a:active[b-45rkf8v3vv] {
    text-decoration: none;
}


    .top-row[b-45rkf8v3vv]  a, .top-row .btn-link[b-45rkf8v3vv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-45rkf8v3vv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-45rkf8v3vv] {
        display: none;
    }

    .top-row.auth[b-45rkf8v3vv] {
        justify-content: space-between;
    }

    .top-row a[b-45rkf8v3vv], .top-row .btn-link[b-45rkf8v3vv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-45rkf8v3vv] {
        flex-direction: row;
    }

    .sidebar[b-45rkf8v3vv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-45rkf8v3vv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-45rkf8v3vv], article[b-45rkf8v3vv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
