<div class="footer" style="padding-block: 1vh;">
    <div class="footer_content">
        <div class="logo">
            <h1>Bootstrap</h1>
        </div>
        <div class="links">
            <ul style="">
                <h3 style="font-weight: bold;">Bootstrap</h3>
                <li><a href="https://getbootstrap.com/">About Bootstrap</a></li>
                <li><a href="https://icons.getbootstrap.com/">Icons</a></li>
                <li><a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Docs</a></li>
                <li><a href="https://getbootstrap.com/docs/5.2/examples/">Examples</a></li>
                <li><a href="https://blog.getbootstrap.com/">Blog</a></li>
            </ul>
            <div class="other">
                <ul>
                    <h3 style="font-weight: bold;">Two</h3>
                    <li><a href="/">one</a></li>
                    <li><a href="/">two</a></li>
                </ul>
                <ul>
                    <h3 style="font-weight: bold;">Two</h3>
                    <li><a href="/">one</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@code {

}
