<div class="top-row">
    <a href="/" class="p-3 link-dark text-decoration-none" title="Icon-only Sidebar" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="40" height="28" style="color:white"> <use xlink:href="#bootstrap" /> </svg>
    </a>
    <div-- class="buttons">
        <LoginLogoutButton></LoginLogoutButton>
    </div>
</div>

@code {
}
