.footer[b-em4bdrxqzn] {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #1F1F1F;
    height: 30vh;
    font-size: 1rem;
}

.footer_content[b-em4bdrxqzn] {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.logo[b-em4bdrxqzn] {
    border-right: 1px solid white;
    height: 28vh;
}

.footer_content h1[b-em4bdrxqzn] {
    font-family: Hypik;    
    text-align: end;
    padding-top: 15vh;
    padding-right: 2vw;
    transform: translate(0,-50%);
}

.links[b-em4bdrxqzn] {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1vw;
    padding-top: 1vw;
}

ul[b-em4bdrxqzn] {
    text-align: left;
    list-style-type: none;
}

a[b-em4bdrxqzn]{
    color: white;
    text-decoration: none;
}

h3[b-em4bdrxqzn] {
    font-family: Hypik;
}

.other[b-em4bdrxqzn]{
    display:grid;
    grid-template-rows: repeat(2,1fr);
}